/* Font Import to Use for Defaults */

@import url("https://fonts.googleapis.com/css?family=Mukta");
*{
  font-family: Mukta;
  overflow: hidden;
}

/* Setting up CSS Grid to easily organize elements*/

body{
  /* Grid setup */
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 30% 50% 20%;

  /* Background image configuratin */
  background-image: url("../src/images/background.png");
  background-color: rgba(0, 0, 0, 0.212);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

/* Root element configuration */
#root{
  grid-column: 2;
  grid-row: 1/ span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Text configuration */
h1{
  color: white;
  z-index: 1;
}
p{
  color: white;
  z-index: 0;
}

/* Input form configuration */
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Textbox Setup */
form input[type="text"]{
  padding: 10px 50px;
  margin: 0;

  font-size: 20px;
  text-align: center;

  border-radius: 10px;
}

/* Submit button setup */
form input[type="submit"]{
  padding: 10px 30px;
  margin-top: 30px;

  font-size: 17px;

  border-radius: 8px;

  background-color: rgb(226, 226, 226);
}

form input[type="submit"]:hover{
  background-color: white;
}
form input[type="submit"]:active{
  background-color: rgb(126, 126, 126);
}